<div style='border: 3px dashed red'>
  <% if @visitor %>
  <p>Hello, <%= @visitor %>!</p>
  <% end %>
  <% if @name %>
  <p>My name is <%= @name %></p>
  <% end %>
  <img src='http://bit.ly/1eze8aE'>
</div>
