<html>
<head>
<title>I can haz cheezburger</title>
<link href="/css/default.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="outPopUp">
  <% if @visitor %>
  <p>Hello, <%= @visitor %>!</p>
  <% else %>
    <form action="hello">
      My name is <%= @name %>
      What's your name?
      <input type="text" name="name">
      <input type="submit">
    </form>
  <% end %>

</div>
</body>
